In [1]:
import pandas as pd
import random
import numpy as np
import os

In [2]:
passing = pd.read_csv("offensive_passing_stats.csv")
rushing = pd.read_csv("offensive_rushing_stats.csv")
receiving = pd.read_csv("offensive_receiving_stats.csv")
downs = pd.read_csv("offensive_downs.csv")

In [3]:
passing = passing.drop(columns = ["20+", "40+", "Lng"])
passing

,Team,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,Rate,1st,1st%,Sck,SckY,Year
0,Redskins,334,182,54.5,7.2,2391,13,15,71.6,0,0.0,17,118,1971
1,49ers,391,209,53.5,6.9,2688,18,24,65.0,0,0.0,11,111,1971
2,Chargers,450,244,54.2,7.3,3305,23,28,69.0,0,0.0,19,171,1971
3,Steelers,414,214,51.7,5.9,2446,15,26,55.7,0,0.0,37,322,1971
4,Cardinals,385,170,44.2,6.9,2656,14,26,51.6,0,0.0,19,185,1971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,Bears,580,371,64.0,6.2,3573,20,12,83.9,178,30.7,45,282,2019
1434,Panthers,633,382,60.3,6.5,4134,17,21,74.7,230,36.3,58,484,2019
1435,Bills,513,299,58.3,6.8,3476,21,12,82.8,162,31.6,40,247,2019
1436,Ravens,440,289,65.7,7.6,3350,37,8,109.0,171,38.9,28,125,2019
1437,Falcons,684,459,67.1,7.4,5049,29,15,93.8,258,37.7,50,335,2019

In [4]:
rushing = rushing.drop(columns = ["20+", "40+", "Lng"])
rushing = rushing.rename(columns = {"Att": "Att_Rush", "TD": "Rush_TD"})

In [5]:
receiving = receiving.drop(columns = ["Rec", "Yds", "20+", "40+", "Lng", "Rec 1st", "Rec 1st%"])
receiving = receiving.rename(columns = {"TD": "Rec_TD"})

In [6]:
downs["3rd_Conv%"] = downs["3rd Md"] / downs["3rd Att"]
downs["4th Conv%"] = downs["4th Md"] / downs["4th Att"]
downs["Team2"] = downs["Team"]
downs = downs.loc[:, "Scrm Plys":]
downs = downs.rename(columns = {"Team2": "Team"})
downs

      Scrm Plys  Year  3rd_Conv%  4th Conv%       Team
0           828  1971        NaN        NaN   Redskins
1           900  1971        NaN        NaN      49ers
2           859  1971        NaN        NaN   Chargers
3           867  1971        NaN        NaN   Steelers
4           821  1971        NaN        NaN  Cardinals
...         ...   ...        ...        ...        ...
1433       1020  2019   0.356481   0.333333      Bears
1434       1077  2019   0.318841   0.500000   Panthers
1435       1018  2019   0.358491   0.444444      Bills
1436       1064  2019   0.470588   0.708333     Ravens
1437       1096  2019   0.420290   0.619048    Falcons

[1438 rows x 5 columns]

In [7]:
records = pd.read_csv("nfl_records.csv")
records["Win pct"] = (records["W"] + .5*records["T"])/(records["W"] + records["L"] + records["T"])
records

      Year     Team   W   L  T   Win pct
0     2019  Packers  13   3  0  0.812500
1     2018  Packers   6   9  1  0.406250
2     2017  Packers   7   9  0  0.437500
3     2016  Packers  10   6  0  0.625000
4     2015  Packers  10   6  0  0.625000
...    ...      ...  ..  .. ..       ...
1447  1975    Bills   8   6  0  0.571429
1448  1974    Bills   9   5  0  0.642857
1449  1973    Bills   9   5  0  0.642857
1450  1972    Bills   4   9  1  0.321429
1451  1971    Bills   1  13  0  0.071429

[1452 rows x 6 columns]

In [8]:
offense = pd.merge(passing, rushing, on=["Team", "Year"])
offense = pd.merge(offense, receiving, on=["Team", "Year"])
offense = pd.merge(offense, downs, on=["Team", "Year"])
offense = pd.merge(offense, records, on=["Team", "Year"])
recent_offense = offense[offense["Year"] >= 2000]
recent_offense = recent_offense.reset_index(drop=True)
recent_offense

,Team,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,Rate,1st,...,Yds/Rec,Rec_TD,Rec FUM,Scrm Plys,3rd_Conv%,4th Conv%,W,L,T,Win pct
0,Redskins,561,343,61.1,6.9,3892,18,21,77.0,185,...,11.3,18,4,1038,0.394366,0.400000,8,8,0,0.5000
1,Buccaneers,433,237,54.7,6.5,2824,18,13,76.2,144,...,11.9,18,2,961,0.333333,0.416667,10,6,0,0.6250
2,Seahawks,507,308,60.7,6.3,3198,21,21,75.5,168,...,10.4,21,4,956,0.404878,0.500000,6,10,0,0.3750
3,49ers,583,366,62.8,7.5,4400,32,10,97.0,211,...,12.0,32,6,1024,0.415842,0.500000,6,10,0,0.3750
4,Chargers,578,311,53.8,6.1,3540,19,30,61.8,156,...,11.4,19,3,982,0.328767,0.214286,1,15,0,0.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,Bears,580,371,64.0,6.2,3573,20,12,83.9,178,...,9.6,20,1,1020,0.356481,0.333333,8,8,0,0.5000
622,Panthers,633,382,60.3,6.5,4134,17,21,74.7,230,...,10.8,17,2,1077,0.318841,0.500000,5,11,0,0.3125
623,Bills,513,299,58.3,6.8,3476,21,12,82.8,162,...,11.6,21,0,1018,0.358491,0.444444,10,6,0,0.6250
624,Ravens,440,289,65.7,7.6,3350,37,8,109.0,171,...,11.6,37,2,1064,0.470588,0.708333,14,2,0,0.8750
625,Falcons,684,459,67.1,7.4,5049,29,15,93.8,258,...,11.0,29,3,1096,0.420290,0.619048,7,9,0,0.4375

In [9]:
if not os.path.exists("combined_offense.csv"):
    offense.to_csv("combined_offense.csv", index = False)

In [10]:
### Defense

In [11]:
d_passing = pd.read_csv("defensive_passing_stats.csv")
d_passing = d_passing.drop(columns = ["20+", "40+", "Lng"])
d_passing

,Team,Att,Cmp,Cmp %,Yds/Att,Yds,TD,INT,Rate,1st,1st%,Sck,Year
0,Redskins,411,191,46.5,6.0,2127,11,29,45.1,0,0.0,36,1971
1,49ers,341,152,44.6,6.8,2011,17,14,67.0,0,0.0,38,1971
2,Chargers,347,193,55.6,7.0,2262,15,22,65.7,0,0.0,19,1971
3,Steelers,408,235,57.6,7.5,2766,16,17,77.0,0,0.0,33,1971
4,Cardinals,375,212,56.5,6.8,2380,12,17,69.3,0,0.0,20,1971
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,Bears,571,362,63.4,6.6,3554,17,10,85.2,190,33.3,32,2019
1434,Panthers,544,347,63.8,7.3,3696,21,14,88.0,197,36.2,53,2019
1435,Bills,553,348,62.9,6.2,3123,15,14,78.8,169,30.6,44,2019
1436,Ravens,544,318,58.5,6.6,3315,15,13,77.5,163,30.0,37,2019
1437,Falcons,536,351,65.5,7.7,3918,28,12,96.9,192,35.8,28,2019

In [12]:
d_rushing = pd.read_csv("defensive_rushing_stats.csv")
d_rushing = d_rushing.drop(columns = ["20+", "40+", "Lng", "Rush FUM"])
d_rushing = d_rushing.rename(columns = {"Att": "Att_Rush", "TD": "Rush_TD"})

In [13]:
d_receiving = pd.read_csv("defensive_receiving_stats.csv")
d_receiving = d_receiving.drop(columns = ["Rec", "Yds", "20+", "40+", "Lng", "Rec 1st", "Rec 1st%"])
d_receiving = d_receiving.rename(columns = {"TD": "Rec_TD"})

In [14]:
d_downs = pd.read_csv("defensive_downs.csv")
d_downs["3rd_Conv%"] = d_downs["3rd Md"] / d_downs["3rd Att"]
d_downs["4th Conv%"] = d_downs["4th Md"] / d_downs["4th Att"]
d_downs["Team2"] = d_downs["Team"]
d_downs = d_downs.loc[:, "Scrm Plys":]
d_downs = d_downs.rename(columns = {"Team2": "Team"})

In [15]:
turnovers = pd.read_csv("defensive_turnovers.csv")
turnovers = turnovers.drop(columns = ["FR TD", "INT TD", "Rec FUM", "Rush FUM", "INT Yds", "Lng", "INT"])

In [16]:
defense = pd.merge(d_passing, d_rushing, on=["Team", "Year"])
defense = pd.merge(defense, d_receiving, on=["Team", "Year"])
defense = pd.merge(defense, d_downs, on=["Team", "Year"])
defense = pd.merge(defense, turnovers, on=["Team", "Year"])
defense = pd.merge(defense, records, on=["Team", "Year"])
recent_defense = defense[defense["Year"] >= 2000]
recent_defense = recent_defense.reset_index(drop=True)
recent_defense

,Team,Att,Cmp,Cmp %,Yds/Att,Yds,TD,INT,Rate,1st,...,PDef,Scrm Plys,3rd_Conv%,4th Conv%,FF,FR,W,L,T,Win pct
0,Redskins,462,254,55.0,6.3,2621,12,17,67.4,134,...,0,937,0.351220,0.400000,0,16,8,8,0,0.5000
1,Buccaneers,594,339,57.1,5.9,3152,15,25,65.0,180,...,0,1047,0.328889,0.600000,0,16,10,6,0,0.6250
2,Seahawks,489,309,63.2,8.4,3937,23,17,90.8,185,...,0,1019,0.442786,0.142857,0,10,6,10,0,0.3750
3,49ers,558,320,57.3,7.5,3915,25,13,86.4,194,...,0,1031,0.392157,0.666667,0,8,6,10,0,0.3750
4,Chargers,552,326,59.1,6.9,3537,33,16,87.7,195,...,0,1061,0.376033,0.555556,0,6,1,15,0,0.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,Bears,571,362,63.4,6.6,3554,17,10,85.2,190,...,67,1017,0.363636,0.565217,12,9,8,8,0,0.5000
622,Panthers,544,347,63.8,7.3,3696,21,14,88.0,197,...,65,1042,0.398964,0.666667,8,7,5,11,0,0.3125
623,Bills,553,348,62.9,6.2,3123,15,14,78.8,169,...,80,985,0.358491,0.380952,16,9,10,6,0,0.6250
624,Ravens,544,318,58.5,6.6,3315,15,13,77.5,163,...,69,921,0.371134,0.333333,15,12,14,2,0,0.8750
625,Falcons,536,351,65.5,7.7,3918,28,12,96.9,192,...,55,985,0.398964,0.600000,17,8,7,9,0,0.4375

In [17]:
if not os.path.exists("combined_defense.csv"):
    defense.to_csv("combined_defense.csv", index = False)